<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: head" />
<body>
<nav th:replace="partials/navbar :: navbar" />
<form action="/posts/create" method="POST">
  <label for="postTitle">Title:</label>
  <input type="text" id="postTitle" name="postTitle">
  <label for="postBody">Body:</label>
  <input type="text" id="postBody" name="postBody">
  <button type="submit">Submit</button>
</form>
<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>